# {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: rgb(23, 173, 85);
    color: white;
    font-family: "poppins",sans-serif;
    min-height: 100px;
}

header{
    font-size: 1.5rem;
}
header
form{
    min-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input
form button{
    padding: 0.5rem;
    padding-left: 1rem;
    font-size: 1.8rem;
    border: none;
    background: white;
    border-radius: 2rem;

}

form button{
    color: rgb(14, 5, 99);
    background: white;
    cursor: pointer;
    transition: all 0.j case;
    margin-left: 0.5rem;
}
 
form button:hover {
    color: white;
    background: red;

}

.fa-plus-circle{
    margin-top: 0.3rem;
    margin-left: 5rem;
}

